.home__videoContainer {
  position: relative;
  height: 100vh;
  background-color: black;
}

.youtubeContainer {
  width: 100%;
  height: 100vh;
  margin-bottom: 10vh;
}

.home__videoContainer .reactVideoComponent {
  width: 100% !important;
  height: 100% !important;
}

.home .hide {
  display: none;
}

.home__videoContainer .reactVideoComponent > video {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transition: all 300ms;
  /* position: absolute; */
  filter: brightness(80%);
}

.home__videoContainer .home__videoContainer__video {
  /* display: none; */
  /* opacity: 0; */

  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transition: all 300ms;
  /* position: absolute; */
  /* filter: brightness(0.8); */
  opacity: 0.8;
  /* top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0; */
}

.home__videoContainer__video.--selected {
  /* opacity: 1; */
  display: block;
}

.home__videoContainer__textContainer {
  position: absolute;
  top: 43%;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: 11%;
  bottom: 5%;
}

.home__videoContainer__textContainer > h1 {
  letter-spacing: 4vh;
  font-weight: lighter;
  font-size: 11vh;
  font-family: "LiShuFont";
  /* background-color: rgb(255 255 255 / 20%); */
  border-radius: 5vh;
  padding-right: 0px;
  padding-top: 1vh;
  padding-bottom: 0px;
  color: white;
}

.home__videoContainer__textContainer span {
  font-family: "LiShuFont";
}

.home__videoContainer__textContainer__arrowDown {
  font-size: 6vh !important;
  color: white;
}

.home__videoContainer__loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10%;
}

.home__bigAdPoster {
  margin-bottom: 8vh;
}

.home__bigAdPoster .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__bigAdPoster img {
  object-fit: contain;
  max-width: 88%;
}

.home__introduction {
  position: relative;
  height: 70vh;
}
.home__introductionContainer {
  position: absolute;
  right: 13%;
  left: 13%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  letter-spacing: 1vh;

  height: 100%;
  justify-content: center;
}

.home__introductionContainer > p {
  font-family: "LiShuFont";
  font-size: 4.5vh;
}

.home__translateContainerContainer {
  height: 20vh;
  margin-bottom: 10vh;
  margin-top: -20vh;
}

.home__translateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  left: 35%;
  right: 35%;
  font-size: 13px;
  margin-top: 10vh;
}

/* locationsContainer */
.home__locationsContainer__state {
  position: relative;
  height: 100vh;
}

.home__locationsContainer__state .first {
  position: absolute;
  bottom: 4%;
  right: 0;
  left: 0;
  height: 49vh;
  background-color: rgba(0, 0, 0, 0.05);
  width: 100%;
}
.home__locationsContainer__state .first .firstText {
  position: absolute;
  left: 6%;
  right: 60%;
}

.home__locationsContainer__state .first .firstText .description {
  font-size: 17px;
  line-height: 1.5;
}

.home__locationsContainer__state .first .firstText > div {
  text-decoration: none;
  color: black;
  /* font-weight: 100; */
  padding: 2vh 5vh;
  display: block;
  margin-top: 9vh;
  transition: all 500ms;
  font-style: italic;
  text-align: justify;
  transition: all 500ms;
  padding-left: 2vw;
  font-size: 2vh;
  /* letter-spacing: 0.15vw; */
  margin-bottom: 1vw;
}
.home__locationsContainer__state .first .firstText > div:hover {
}

.home__locationsContainer__state .first .firstText > div .location {
  font-weight: bold;
  margin-top: 1vw;
  font-size: 3vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__locationsContainer__state .first .firstText > div .location > a {
  color: #272928;
  text-decoration: none;
  padding: 1vh 2vh;
  background-color: #e0e4ed;
  border-radius: 1vh;
  font-size: 2vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.home__locationsContainer__state .second {
  position: absolute;
  top: 30%;
  bottom: 7%;
  right: 28%;
  z-index: 25;
}
.home__locationsContainer__state .second > img {
  height: 70vh;
}

.home__locationsContainer__state .third {
  position: absolute;
  right: 0%;
  top: -2%;
  z-index: 20;
  filter: drop-shadow(2px 4px 6px black);
}
.home__locationsContainer__state .third > img {
  height: 53vh;
}
.home__locationsContainer__state .fourth {
  position: absolute;
  right: 0%;
  top: 42%;
  z-index: 20;
  filter: drop-shadow(2px 4px 6px black);
}
.home__locationsContainer__state .fourth > img {
  object-fit: cover;
  width: 51vh;
  height: 30vh;
}
.home__locationsContainer__state .fifth {
  position: absolute;
  filter: hue-rotate(16deg);
  filter: contrast(0.8);
  top: 7%;
  right: 7%;
  z-index: 5;
}
.home__locationsContainer__state .fifth > img {
  filter: drop-shadow(2px 4px 6px black);
  object-fit: cover;
  object-position: 50% 73%;
  height: 39vh;
  width: 94vh;
}
.home__locationsContainer__state .sixth {
  position: absolute;
  bottom: 3.9%;
  width: 52vh;
  height: 28vh;
  background-color: rgb(206, 198, 130, 0.4);
  right: 1%;
  z-index: 30;
}

.home__locationsContainer__state .seventh {
  position: absolute;
  left: 15%;
  top: 0%;
  background-color: rgb(135 184 186 / 20%);
  height: 16vw;
  width: 45vw;
  z-index: 30;
}

.home__locationsContainer__seattle {
  margin-top: 10vh;
  height: 120vh;
  position: relative;
}

.home__locationsContainer__seattle .first {
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  bottom: 20%;
  background-color: rgba(0, 0, 0, 0.05);
}

.home__locationsContainer__seattle .first .text_first {
  position: absolute;
  right: 4%;
  top: 20%;
  height: 60%;
  width: 30%;
  font-style: italic;
  transition: all 500ms;
  padding: 1vw 2vw;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.home__locationsContainer__seattle .first .text_first:hover {
}

.home__locationsContainer__seattle .first .text_first__bolded {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.home__locationsContainer__seattle .first .text_first__bolded h4 {
  font-size: 3vh;
}

.home__locationsContainer__seattle .first .text_first__bolded a {
  font-size: 2vh;
  padding: 1vh 3vh;
  background-color: #e0e4ed;
  color: #272928;
  text-decoration: none;
  border-radius: 1vh;
  font-weight: 300;
  font-weight: 800;
}

.home__locationsContainer__seattle .first .text_first > p {
  text-align: justify;
  font-size: 2vh;
  letter-spacing: 0.15vw;
  margin-bottom: 1vw;
}
.home__locationsContainer__seattle .first .text_first > h4 {
  font-size: 3vh;
}

.home__locationsContainer__seattle img {
  filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.5));
}
.home__locationsContainer__seattle .second img {
  position: absolute;
  left: 0%;
  height: 28vw;
}
.home__locationsContainer__seattle .third {
  position: absolute;
  top: 45%;
  left: 6%;
}
.home__locationsContainer__seattle .third img {
  height: 29vw;
}

.home__locationsContainer__seattle .fourth {
  position: absolute;
  left: 35%;
  top: 5%;
}
.home__locationsContainer__seattle .fourth img {
  height: 25vw;
  object-fit: cover;
  width: 25vw;
}

.home__locationsContainer__seattle .fifth {
  position: absolute;
  left: 29%;
  top: 35%;
}
.home__locationsContainer__seattle .fifth img {
  height: 35vw;
}

.home__past {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  margin-top: 10vh;
}

.home__past__container {
  width: 100%;
  padding: 10vh 10vw;
}

@media screen and (max-width: 470px) {
  .home__videoContainer__textContainer > h1 {
    font-size: 8vh;
    letter-spacing: 1vh;
    padding-left: 0;
  }

  .home__bigAdPoster img {
    object-fit: contain;
    max-width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .home__introduction {
    height: 80vh;
  }
  .home__introductionContainer {
    font-size: 3.25vh;
  }
  .home__locationsContainer__state {
    display: none;
  }
  .home__locationsContainer__seattle {
    display: none;
  }
}

@media screen and (min-width: 1001px) {
  .home__locationsContainer__state {
    display: block;
  }
  .home__locationsContainer__seattle {
    display: block;
  }
}
