.locationPage {
}

.locationPage__intro {
  height: 73vh;
  width: 100%;
  background-color: #e5e5e5;
}

.locationPage__videoContainer {
  position: relative;
  height: 100%;
}

.locationPage__videoContainer__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 0% 30%;
  filter: brightness(60%);
  -webkit-filter: brightness(60%);
}

.seattle__videoContainer__textContainer {
  position: absolute;
  top: 5%;
  right: 80%;
  left: 10%;
  bottom: 15%;
  display: flex;
  align-items: start;
  justify-content: space-around;
  color: white;
  font-size: 13vh;
  font-family: "LiShuFont";
  font-weight: 800;
}

.seattle__videoContainer__textContainer .parent1 {
  display: flex;
  flex-direction: column;
  margin-top: -5px;
}

.seattle__videoContainer__textContainer .parent2 {
  display: flex;
  flex-direction: column;
  margin-top: 22vh;
  margin-left: 2vh;
}

.mn__videoContainer__textContainer {
  position: absolute;
  top: 17%;
  right: 80%;
  left: 10%;
  bottom: 15%;
  display: flex;
  align-items: start;
  justify-content: space-around;
  color: white;
  font-size: 13vh;
  font-family: "LiShuFont";
  font-weight: 800;
}

.mn__videoContainer__textContainer .parent1 {
  display: flex;
  flex-direction: column;
}

.mn__videoContainer__textContainer .parent2 {
  display: flex;
  flex-direction: column;
  margin-top: 8vh;
}

.locationPage__schedule {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5vh 10vh;
  /* background-color: #d7d4d1; */
  background: linear-gradient(
    135deg,
    #f5f2ef,
    #f5f2ef 40%,
    #d1d1d1 45%,
    #f5f2ef 55%,
    #f5f2ef 60%,
    #d1d1d1
  );
  gap: 9vw;
  min-height: 110vh;
}
.locationPage__schedule__left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.locationPage__schedule__left img {
  height: 45vw;
}

.locationPage__schedule__right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.locationPage__schedule__right img {
  height: 45vw;
}

.locationPage__ourTeam {
  height: 100vh;
  margin-top: 10vh;
  margin-bottom: 20vh;
}

.locationPage__register {
  margin-top: 10vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #232424; */
  background-color: #333333;
}

.locationPage__register .container {
  height: 100%;
  width: 100%;
  position: relative;
}

.locationPage__register img {
  height: 80vh;
}

.locationPage__register .links_container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 1vw;
  text-wrap: nowrap;
  white-space: nowrap;
}

.locationPage__register .links_container a {
  color: white;
  text-decoration: none;
  padding: 10px 34px;
  /* background-color: #8e8e8e; */
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s ease;
  font-size: 20px;
  font-weight: 600;
  border-radius: 30px;
  margin-top: 3vh;

  z-index: 1;
}

.locationPage__register a:hover {
  background-color: rgba(0, 0, 0, 1);
}

.front_poster_background {
  /* height: 180vh; */
  height: fit-content;
  background-color: #15191f;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.75s ease-in;
}

.front_poster_background .container {
  display: flex;
  flex-direction: row;
  gap: 3vw;
}

.front_poster {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8vw;
  height: fit-content;
  justify-content: space-evenly;
  padding: 4vw;
}

.front_poster img {
  object-fit: contain;
  max-width: 95%;
  /* opacity: 1;
  transition: all 300ms ease-in-out;
  max-height: 100%;
  max-width: 100%; */
}

.front_poster .hide_img {
  /* opacity: 0;
  max-height: 0%;
  max-width: 0%; */
  display: none;
}

.front_poster .arrow {
  width: 5vw;
  height: 12vh;
  padding: 1vh;
  color: white;
  position: absolute;
  /* height: 100%; */
  /* width: 5%; */
  background-color: rgba(0, 0, 0, 1);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.front_poster .arrow:hover {
  transform: scale(1.2);
}

.front_poster .leftArrow {
  left: -2%;
}

.front_poster .rightArrow {
  right: -2%;
}

.front_poster .img_picker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.front_poster_background .textDiv {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 30vw;
}

.front_poster_background .text {
  color: white;
  line-height: 1.55;
  font-family: fangsong;
}

.front_poster_background .time-items {
  display: flex;
  flex-direction: column;
}

.front_poster_background .time-items p {
  font-size: 3vh;
}

.front_poster_background .time-item {
}

.front_poster_background .content {
  margin-bottom: 25px;
  font-size: 3.5vh;
}

.front_poster_background .dates {
}

.front_poster_background .time {
  /* font-family: "IBM Plex Sans"; */
}

.front_poster_background .location {
}

.locationPage__classIntro {
  /* background-color: black; */
  /* background: radial-gradient(closest-side, #3f87a6, #ebf8e1, #f69d3c); */
  /* background: radial-gradient(
    circle,
    #cbefd3,
    #e5f9ed,
    #56af85,
    #c8ecda,
    #30925e
  ); */
  background: radial-gradient(closest-side, #648f23, #c7edd1, #a6e2cf);
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(to bottom, #a6e2cf, #c7edd1);
  gap: 3vw;
}

@media screen and (max-width: 750px) {
  .seattle__videoContainer__textContainer {
    font-size: 15vw;
    right: 65%;
    top: 15%;
    flex-direction: column;
  }

  .seattle__videoContainer__textContainer .parent2 {
    margin-top: 0;
    margin-left: 0;
  }

  .mn__videoContainer__textContainer {
    font-size: 15vw;
    right: 65%;
    top: 18%;
    flex-direction: column;
  }
  .mn__videoContainer__textContainer .parent2 {
    margin-top: 0;
  }

  .locationPage__schedule {
    margin-top: 10vh;
    padding: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 8vh 3vw;
  }
  .locationPage__schedule__left img {
    width: 100%;
    height: 100%;
  }
  .locationPage__schedule__right img {
    width: 100%;
    height: 100%;
  }

  .locationPage__ourTeam {
    height: 93vh;
  }
  .locationPage__register img {
    object-fit: contain;
    width: 100%;
  }

  .locationPage__register a {
    font-size: 25px;
    font-weight: 500;
    margin: 3vh;
    width: 250px;
    text-align: center;
    margin: 0;
  }

  .locationPage__register .links_container a {
    font-size: 18px;
    font-weight: 900;
    margin: 3vh;
    text-align: center;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .front_poster_background .front_poster {
    flex-direction: column;
  }

  .locationPage__register .links_container {
    flex-direction: column;
  }

  .front_poster {
    padding: 5vh 0;
  }

  /* .front_poster img {
    max-width: 85%;
  } */

  .front_poster_background .content {
    margin-bottom: 25px;
    font-size: 2.75vh;
  }

  .front_poster_background .time-items p {
    font-size: 2.5vh;
  }

  .front_poster_background .textDiv {
    display: flex;
    flex-direction: column;
    min-width: 90%;
  }

  .front_poster .arrow {
    width: 10vw;
    height: 7vh;
    /* padding: 1vh; */
    color: white;
    position: absolute;
    /* height: 100%; */
    /* width: 5%; */
    background-color: rgba(0, 0, 0, 1);
    border-radius: 10px;
    cursor: pointer;
  }

  .front_poster .leftArrow {
    left: 0%;
  }

  .front_poster .rightArrow {
    right: 0%;
  }
}
